html {
    font-size: xx-large;
    font-family: "Noto Sans JP";
    background-color: lightpink;
    padding: 0px 150px 150px 150px;
}
h1 {
    margin: 0;
    font-size: xxx-large;
    text-align: center;
    letter-spacing: 7px;
    color: #483a3a;
    text-shadow: 3px 3px 1px #6d6969;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: xx-large;
    text-align: match-parent;
    color: #6d6969;
}

p2, a {
    font-size: 28px;
    color: #6d6969;
}

a:hover, small{
    color: #483a3a;
}

nav {
    text-align: center;
    color: #483a3a;
    font-family: AppleMyungjo;
    letter-spacing: 6px;
}

a::after {
    content: "|";
    margin-left: 6px;
}

nav a:last-child::after {
    content: "";
}



